{% extends 'base.html' %}

{% block title %}Favorite Book{% endblock %}

{% block body %}

<div id="list-container">
<ul>
    <li>
        <!-- {{ favorites.favorite_id }}
        {{ favorites.book_id }} -->
        Title: {{ favorites.favorite_book.book_title}}
        <br/>
        Date Add: {{ favorites.date_add }}
        <br/>
        Comment: {{ favorites.comment }}
       
    </li>


</ul>

</div>


{% endblock %}


<!-- <form action="/books/{{ book.book_id }}/favorites" method="POST">
    <label>Comments:</label>
    <textarea name="user-comment"></textarea>
    
    <button type="submit">Add</button>
</form> -->

