{% extends 'base.html' %}
{% block title %}My Book Home{% endblock %}

{% block body %}
  <!-- <h1>Book Adventures</h1> -->

  
<!-- if user_email in session -->


{% if session.get('user_id') %}
  

  <section class="Form my-4 mx-5">
    <div class="form-login-container">
      <div class="row g-0">
        <div class="col-lg-5">
          <img src="/static/img/reading.jpg" class="img-fluid" alt=" ">
        </div>
        <div class="col-lg-7 px-5 pt-5">
          <h1 class="font-weight-bold py-3">Welcome</h1>
          <p>Want to read a good book, check out these links and find a good one and starting reading today!</p>

          <ul>
            <li><a href="/searchform">Search a book</a></li>
            <li><a href="/books">View all books</a></li>
            <li><a href="/top_books">Top books</a></li>
          </ul>
        </div>
      </div>
    </div>


  </section>


{% else %}
  
  <section class="Form my-4 mx-5">
    <div class="form-login-container">
      <div class="row g-0">
        <div class="col-lg-5">
          <img src="/static/img/book_case.jpg" class="img-fluid" alt=" ">
        </div>
        <div class="col-lg-7 px-5 pt-5">
          <h1 class="font-weight-bold py-3">Book Adventures</h1>
          <h4>Sign into your account</h4>

          <form action="/login" method="POST">  
            <div class="form-row">
              <div class="col-lg-7">
                <input type="email" placeholder="Email-Address" name="email" class="form-control my-4 p-2">
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <input type="password" placeholder="******" name="user_password" class="form-control my-4 p-2">
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <button type="submit" class="btn1 mt-2 mb-5">Login</button>
              </div>
            </div>
            <p>Don't have an account yet? <a href="/users">Register here.</a></p>
          </form>
        </div>
      </div>
    </div>


  </section>









  <!-- <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="user_password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  <p>Don't have an account yet? <a href="/users">Register here.</a></p> -->

  
  
{% endif %}  
  
  
{% endblock %}